<div class="row">
  <div
    class="
      col-sm-12 col-md-6
      d-flex
      justify-content-center
      align-items-center
      default-background
      full-height
    "
  >
    <div class="title-container">
      <p class="title">ULTRA</p>
      <p class="subtitle">Assessment</p>
    </div>
  </div>
  <div
    class="
      col-sm-12 col-md-6
      d-flex
      justify-content-center
      align-items-center
      full-height
      default-background
    "
  >
    <div class="giphy-container container-fluid">
      <div class="header align-items-start">
        <app-search></app-search>
      </div>
      <div class="body align-items-center">
        <app-images></app-images>
      </div>
      <div class="footer align-items-end">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>
