<div class="row">
  <div
    class="
      col-sm-12 col-md-6
      d-flex
      justify-content-center
      align-items-center
      default-background
      full-height
    "
  >
    <div class="title-container">
      <p class="title">ULTRA</p>
      <p class="subtitle">Assessment</p>
    </div>
  </div>
  <div
    class="
      col-sm-12 col-md-6
      d-flex
      justify-content-center
      align-items-center
      full-height
      default-background
    "
  >
    <div class="giphy-container">
      <div class="header">
        <app-search></app-search>
      </div>
      <div class="body">
        <app-images
          (paginatedData)="data = $event"
          [offset]="selectedOffset"
        ></app-images>
      </div>
      <div class="footer">
        <app-pagination
          [paginatedData]="data"
          (offset)="selectedOffset = $event"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
