<div class="row">
  <div class="col-sm-12 d-flex justify-content-center align-items-center">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzPageSize]="contentSize"
      [nzTotal]="pagination.total_count"
      [nzResponsive]="true"
      (nzPageIndexChange)="pageIndexChange($event)"
      [nzShowTotal]="rangeTemplate"
    ></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </div>
</div>
