<div class="row">
  <div class="col-sm-12">
    <div class="image-row">
      <div class="image-column" *ngFor="let image of images">
        <img
          nz-image
          width="200px"
          height="200px"
          [nzSrc]="image.images.downsized.url"
          alt=""
        />
      </div>
    </div>

    <!-- <div class="image-row">
      <div class="image-column" *ngFor="let image of images">
        <img [src]="image.images.downsized.url" alt="" />
      </div>
    </div> -->
  </div>
</div>
